.blog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 40px;
  &__img {
    border-radius: 1.2rem;
    margin-bottom: 1rem;
    img {
      width: 100%;
      aspect-ratio: 1/0.55;
      border-radius: 1.2rem;
      border: 3px solid #fff;
    }
  }
  &__title {
    font-size: 1.6rem;
    line-height: 3.2rem;
    font-weight: 700;
    color: #fff;
  }
  &__text {
    line-height: 2.4rem;
    color: #fff;
    i {
      margin-right: 1rem;
    }
  }
  &__btn {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #fff;
    text-decoration: underline;
    display: inline-block;
  }
}
